* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --red-hover: #ea4b65;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --blue-hover: #5699ff;
  --background: #fbfcff;
  --overlay: #040911;
  --icons-details: #a5b0c1;
  --grey-dark: #4d5e77;
  --grey-hover: #8794a7;
  --grey-blue: #a1b2cd;
  --grey-medium: #d3d9e2;
  --grey-light: #e5eaf1;
}

body {
  height: 100vh;
  display: flex;
  background: var(--background);
}

body,
button,
input,
textarea {
  font-size: clamp(1.4rem, 1.6rem, 2vw);
  font-family: 'Open Sans', sans-serif;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.content header {
  width: 80%;
  margin: 3.5rem auto;
}

.content header img {
  width: 16.7rem;
}

input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font: 500 1.6rem 'Poppins', sans-serif;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button.outline,
.button.outline {
  background: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

button > img,
.button > img {
  width: 2rem;
  margin-right: 1rem;
}

button.red,
.button.red {
  background: var(--red);
  color: var(--white);
}

button.grey,
.button.grey {
  background: var(--grey-light);
  color: var(--grey-dark);
}
